%h1= @concert.band
%ul
  %li= @concert.venue
  %li= @concert.city
  %li= @concert.date
  %li= @concert.price
  %li= @concert.description

=link_to "Edit", edit_concert_path(@concert)
=link_to "Delete", concert_path(@concert), method: :delete, data: { confirm: "Are you sure?" }
