!!!
%html
  %head
    %title ConcertNetwork
    %link{:href => "https://necolas.github.io/normalize.css/3.0.2/normalize.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/header'

    %main.container
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name}"}
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      = yield
